
x-medium-editor {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

x-medium-editor > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: auto;
}

x-medium-editor > div > *:first-child {
  margin-top: 0;
}

x-medium-editor > div > *:last-child {
  margin-bottom: 0;
}

.medium-editor-toolbar li button {
  width: auto;
  height: auto;
  min-width: 3em;
  padding: 0.75em;
  font-size: 1em;
  line-height: 1em;
}

.medium-toolbar-arrow-under:after {
  display: none;
}
