
x-medium-editor {
  display: flex;
  box-sizing: border-box;
}

x-medium-editor > div {
  flex: 1;
}

x-medium-editor > div > *:first-child {
  margin-top: 0;
}

x-medium-editor > div > *:last-child {
  margin-bottom: 0;
}

.medium-editor-toolbar li button {
  width: auto;
  height: auto;
  min-width: 3em;
  padding: 0.75em;
  font-size: 1em;
  line-height: 1em;
}

.medium-toolbar-arrow-under:after {
  display: none;
}
